# Medical Cost Personal Dataset

In [57]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [51]:
ruta_archivo_csv = "./insurance.csv"
df = pd.read_csv(ruta_archivo_csv)

print(df.head())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [53]:
df["smoker"] = pd.get_dummies(df["smoker"], drop_first=True)
df["sex"] = pd.get_dummies(df["sex"], drop_first=True)

In [54]:
print(df.head())

   age    sex     bmi  children  smoker     region      charges
0   19  False  27.900         0    True  southwest  16884.92400
1   18   True  33.770         1   False  southeast   1725.55230
2   28   True  33.000         3   False  southeast   4449.46200
3   33   True  22.705         0   False  northwest  21984.47061
4   32   True  28.880         0   False  northwest   3866.85520

In [55]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [ ]:
fig = plt.figure(figsize=(15,6))
df_data_processing.corr()['Churn'].sort_values(ascending=True).plot(kind='bar')
plt.show()